/*body styles the default look of the content for the site*/
body{
	background-color: #F2F2F2;
	font-family: 'Roboto', sans-serif;
	color: #515151;
	animation: fadeInAnimation ease-in-out 1.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}
/*this is the only real animation that I wanted for the site (other than animating the progress bar) to maintain the ambient feeling of the site*/
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 
a{
	text-decoration: none;
	color: #515151;
}
a:hover{
	color: #DE5860;
	transition: .3s;
}
.mainTitle{
	margin-top: 12%;
}
.mainTitle h1{
	font-size: 40px;
	text-align: right;
	font-weight: 700;
	margin: 0, 0, 16px, 0;
	padding: 0;
	line-height: .75em;
}

.mainTitle p{
	font-size: 14px;
	font-weight: 300;
	
	padding: 0;
	line-height: 1em;
}

.mainTitle .col-md-4{
	padding-left: 10px; 
	padding-right: 8px; 
	word-spacing: 1px;
}
.floatingButton{
	margin-top: 10%;
	margin-bottom: 10%;
	display: flex;
	justify-content: center;
}
.btn-lg{
	background: #515151;
	color: #f2f2f2;
	font-weight: 300;
	font-size: 20px;

}
.btn-lg:hover{
	
	background: #DE5860;
	color: #f2f2f2;
	box-shadow: 0px 0px 8px 2px rgba(255,152,95,.5);
	transition: box-shadow 1s, background .3s;
	
}
.btn-lg:focus{
	
	background: #DE5860;
	color: #f2f2f2;
	box-shadow: 0px 0px 8px 2px rgba(255,152,95,0);
	transition: box-shadow 1s;
	
}
#watermark{
	width: 100%;
}
/*I had to use Important here to override the Bootstrap default style*/
#homeIcon{
	text-decoration: none!important;
}
.qestionBox{
	margin-top: 6%;
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: white;
	width: 100%;
	border-radius: 8px;
}
.progress-bar{
	text-align: left;
	font-weight: 500;
	padding-left: 5%;
	background: linear-gradient(90deg, rgba(255,152,95,1) 0%, rgba(222,88,96,1) 100%);
	
}



.designQuestion{
	margin-top: 10%; 
}
.questionBtn{
	font-weight: 300;
	font-size: 1rem;
	width: 120px;
}
.questionOptions{
	margin-top: 5%;
}
.questionOptions div{
	
	display: flex;
	justify-content: center;
	align-self: center;
}
.orMark{
	padding-top: 20px;
}
.optionNext{
	margin-top: 10%;
	display: flex;
	justify-content: flex-end;
	padding-right: 16.6%;
}
.nextBtn{
	background: #515151;
	color: #f2f2f2;
	font-weight: 300;

}
/*these is a very slow transition for the hover for buttons' outer glow, helps with the dreamy aesthetic*/
.nextBtn:hover{
	background: #FF985F;
	color: #f2f2f2;
	box-shadow: 0px 0px 8px 2px rgba(255,152,95,.5);
	transition: box-shadow 1s, background .3s;

}
.nextBtn:disabled{
	background: #C4C4C4;
	color: #f2f2f2;
	font-weight: 300;
}
/*I thought it was strange that I had to style the disabled hover state of the button. Is this a bootstrap specific issue?*/
.nextBtn:disabled:hover{
	background: #C4C4C4;
	color: #f2f2f2;
	font-weight: 300;
	box-shadow: 0px 0px 8px 2px rgba(255,255,255,0);
}
/* for the next 150 lines I had to cteate a lot of individual styles to accomidate for the separate instances of the various fonts*/
/*I usewd more classes at first, but the fonts all reacted slightly different to the styleing, so I ended up using loto IDs*/
#bodoniTitle{
	font-family: 'Bodoni 24';
	font-size: 50px;
}
#montTitle{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: 600;
}
#oswaldTitle{
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	font-weight: 600;
}
#baskervilleTitle{
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	font-weight: 700;
}
#bottomText{
	position: absolute;
  	bottom: 0;
  	left: 0;
  	margin-bottom: 8px;
}
.fontContent{
	width: 70%;
	margin: 6% auto auto auto;
	/*background-color: white;*/
	max-width: 720px;
}
.fontInfo{
	font-size: 14px;
	font-weight: 300;
	
	padding: 0 10% 5% 0;
	line-height: 1em;
}
.fontExample{
	height: 180px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#pairLargeBodoni{
	font-family: 'Bodoni 24';
	margin-bottom: 0px;

}	

#pairTitleMontserrat{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
}
#pairTitlePatua{
	font-family: 'Patua One', cursive;
	margin-bottom: 0px;
}
#pairTitlePatua{
	font-family: 'Patua One', cursive;
}
#pairTitleNixie{
	font-family: 'Nixie One', cursive;
}
#pairLargeFira{
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 0px;
}
#pairLargeOswald{
	font-family: 'Oswald', sans-serif;
	margin-bottom: 0px;

}
#pairLargeOswald{
	font-family: 'Oswald', sans-serif;
	margin-bottom: 0px;

}

#montserratSmallText{
	font-family: 'Montserrat', sans-serif;
	
	font-size: 14px;
}
#merriweatherSmallText{
	font-family: 'Merriweather', serif;
	
	font-size: 14px;
}
#sourceSmallText{
	font-family: 'Source Sans Pro', sans-serif;
	
	font-size: 14px;
}
#futuraSmallText{
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
#bodoniSmallText{
	font-family: 'Bodoni 24';
	font-size: 14px;
}
#oswaldSmallText{
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}
#baskervilleSmallText{
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
	font-weight: 400;
}
.fontSecThree{
	margin-top: 2%;
	background-color: white;
	padding-top: 5%;
	border-radius: 8px;
	padding-bottom: 5%;
}
.fontSecFour{
	margin-top: 2%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.fontImages{
	display: flex;
}
.fontImage{
	height: 180px;
	margin-right: 20px;
}
.vibeBtn{
	margin-top: 6%;
	background: #515151;
	color: #f2f2f2;
	font-weight: 300;
	margin-bottom: 20%;
}
.vibeBtn:hover{
	background: #60BFC0;
	color: #f2f2f2;
	box-shadow: 0px 0px 8px 2px rgba(122,203,193,.5);
	transition: box-shadow 1s, background .3s;

}
.allFontsContent{
	max-width: 720px;
	margin: 10% auto auto auto;
}
.allFontsBodoni{
	padding-left: 10%; 
}
.allFontsOswald{
	padding-left: 10%; 
}
.toppRow{
	margin-bottom: 5%;
}
#aboutBlurb{
	max-width: 70%;
	margin: 25px auto 25px auto;
}

/*Media Queries*/
/*Here i had to style the collapsed columns, this was anohter example of how cumbersome Bootstap can be if you are not very familiar with how it works*/
@media only screen and (max-width: 767px){
	#homeLogo{
		width: 100px;
		/*background-color: red;*/
		margin: 0 auto 10px 17%;
	}
	.mainTitle p{
	font-size: 14px;
	font-weight: 300;
	
	padding: 0;
	line-height: 1em;
	}
	#titleText{
		
		margin:60px auto 0 17%;
		max-width: 75%;
	}
	.fontExample{
		margin-bottom: 25px;
	}
	/*I had to add and image for the hambuger icon. Boostrap provided a default, but I had a hard time styling it*/
	.navbar-toggler-icon{
    	background-image: url("images/menuIcon.png");
    	background-size: 100%;
	}
	.progress-bar{
	text-align: left;
	font-size: 10px;
	}
	.optionFirst{
		margin: auto;
	}
	.designQuestion{
	margin-top: 10%; 
	padding-right: 0;
	}
	#nextButtonParent{
		width: 100%;
		margin: 20% 5% auto auto;
		padding-right: auto;
	}
	.qestionBox{
		padding-bottom: 5%;
		padding-bottom: 5%;
	}
	.allFontsBaskerville{
		padding-left: 17%;
		margin-bottom: 25px;
	}
	.allFontsBodoni{
		padding-left: 17%;
		margin-bottom: 25px;
	}
	.allFontsMontserrat{
		padding-left: 17%;
		margin-bottom: 25px;
	}
	.allFontsOswald{
		padding-left: 17%;
		margin-bottom: 25px;
	}
	.toppRow{
	margin-bottom: 0;
	}





}




















